<% content_for :locale_links do  %>
  <p>
    <% I18n.available_locales.each_with_index do |locale, index| %>
      <% if index.zero? %>
        <%= link_to_unless I18n.locale == locale, t("app.locale.#{locale}"), edit_event_path(@event, locale: locale) %>
      <% else %>
        |
        <%= link_to_unless I18n.locale == locale, t("app.locale.#{locale}"), edit_event_path(@event, locale: locale) %>
      <% end %>
    <% end %>
  </p>
<% end %>

<div class="row">
  <div class="col-md-6">
    <%= render 'form' %>
  </div>
</div>
