<div class="event-photo buffer-both">
  <% if current_user_can_edit?(photo) %>
    <% delete_link = link_to(fa_icon('trash'),
                             event_photo_path(photo.event, photo),
                             method: :delete,
                             data: { confirm: t('.destroy_confirm') }) %>
  <% end %>
  <% image_title = "Добавил #{render partial: 'users/user', object: photo.user} #{delete_link}" %>

  <%= link_to image_tag(photo.photo.thumb.url), photo.photo.url,
              data: { toggle: 'lightbox', title: image_title, gallery: 'event-photos' } %>
</div>